@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc;
    @apply pl-6;
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 600;
    src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Mulish";
    font-weight: 700;
    src: url("../fonts/Mulish-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Noto Sans";
    font-weight: 500;
    src: url("../fonts/NotoSans-Medium.ttf") format("truetype");
  }
}
